<h1><%= @user.name %>'s Tasklist</h1>

<% if logged_in? %>
	<table class="table table-striped">
		<therd>
			<tr>
				<th>id</th>
				<th>status</th>
				<th>content</th><th></th><th></th>
			</tr>
		</therd>
		<tbody>
			<% @tasks.each do |task| %>
	  		<tr>
	  			<td><%= link_to task.id, task %></td>
	  			<td><%= task.status %></td>
	  			<td><%= task.content %></td>
	  			<td><%= link_to "Edit", edit_task_path(task), class: "btn btn-default" %></td>
	  			<td><%= link_to "Delete", task, class: "btn btn-danger", method: :delete, data: { confirm: "You sure?"} %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<div>
		<%= link_to "Add new task", new_task_path, class: "btn btn-primary" %>
	</div>
	<div>
		<%= paginate @tasks %>
	</div>
	<% else %>
	<div class="center jumbotron">
	  <div class="text-center">
	    <h1>Welcome to the Microposts</h1>
	    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
	  </div>
	</div>
<% end %>
